body {
  /* background-image: url('https://source.unsplash.com/L6GydBHMVGQ'); */
  background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

i.icon {
  font-size: 1.2em;
}

.container.main {
  margin-top: 6em;
}

img {
  max-width: 100%;
}
