body {
  background: linear-gradient(to right, #89216B, #DA4453);
}

i.icon {
  font-size: 1.2em;
}

.container.main {
  margin-top: 6em;
}

img {
  max-width: 100%;
}

#delete {
  display: inline;
}
