<% include partials/header %>

<h1>This are dramatic pictures of: <%= dramaPic %></h1>

<% if(dramaPic === "woman"){ %>
  <img src="https://source.unsplash.com/ehc4tN4DXHY" alt="dramatic photo">
  <img src="https://source.unsplash.com/qvqMQf9mg04" alt="">
  <img src="https://source.unsplash.com/aLmKY-RbDCU" alt="">
<% } else {%>
  <img src="https://source.unsplash.com/qwTLxUNW6uc" alt="">
  <img src="https://source.unsplash.com/uFomxGheuGk" alt="">
  <img src="https://source.unsplash.com/XvSio7n_X6k" alt="">
  <% } %>

<% include partials/footer %>
