<% include partials/header %>

<h1>Posts Page</h1>

<div class="box">
  <% posts.forEach(function(post){ %>
    <li>
      <%= post.title %> - <strong><%= post.author %></strong>
      <img src=<%= post.img %> alt="">
    </li>
  <% }); %>
</div>


<% include partials/footer %>
