<% include partials/header %>
<div class="ui container main">
  <% blogs.forEach(function(blog){ %>
    <div class="ui container main">
      <h2><%= blog.title %></h2>
      <img src="<%= blog.image %>"><br  />
      <span><%= blog.created %></span>
      <p><%= blog.body %></p>
    </div>
  <% }); %>
</div>
<% include partials/footer %>
