body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #c94b4b, #4b134f);
}

h1 {
  background: rgba(48, 43, 99, 0.6);
  color: #fff;
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

ul {
  max-width: 90%;
}

li {
  list-style: none;
  font-size: 2em;
  color: #fff;
  margin: 50px auto;
}

footer {
  height: 40%;
  width: 100%;
  background-color: #353535;
}

a {
  color: #fff;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
}

.btn {
  background: rgba(48, 43, 99, 0.6);
  width: 20%;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  line-height: 50px
}

input {
  width: 60%;
  height: 48px;
  font-size: 1.4em;
  margin: 20% auto;
  border-radius: 50px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: 4px 4px 14px rgba(48, 43, 99, 0.2);
}

input[type="submit" i] {
  color: #fff;
  margin: 31px auto;
  position: relative;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 4px 4px 14px rgba(36, 36, 62, 0.4);
}
