body, html {
  background: #154d8c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #154d8c, #3182bf);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #154d8c, #3182bf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1, h3, h4 {
  color: #fff;
}

img {
  max-width: 100%;
}

form {
  width: 30%;
  margin: 40px auto;
}

.navbar {
  margin-bottom: 0px;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  float: left;
}

.camp-form {
  text-align: center;
  margin-top: 40px;
}

.some-space {
  padding: 10px 30px;
}

.bg-show-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  background-color: #303030;
  height: 80vh;
  text-align: center;
  padding-top: 100px;
}

.jumbotron.landing, .bg-main{
  background-image: url('https://source.unsplash.com/3fJOXw1RbPo');
}

.container {
  height: 100%;
}

.bg-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100vh; */
  position: absolute;
}

.comments-section {
  color: #fff;
  background-color: #303030;
  /* width: 80%; */
  border-radius: 5px;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: left;
  /* float: right; */
}

.thumbnail img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.thumbnail {
  background-color: #303030;
  border-color: #303030;
  color: #fff;
  text-align: justify;
  padding: 0;
}

.thumbnail .caption-full {
  padding: 10px;
}

.thumbnail .caption {
  text-align: center;
}

.thumbnail p {
  text-align: center;
}

.lead {
  color: #fff;
}

.desc {
  margin: 0 20px 20px 10px;
}

.title {
  margin-left: 15px;
}

.bg-primary {
  background-color: #404040;
  border-radius: 5px;
  padding: 10px;
}

.container.not-found {
  width: 100%;
  margin-top: -50px;
  background-image: url('https://source.unsplash.com/waZEHLRP98s');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}

.container.not-found h1 {
  font-size: 13em;
}

@media only screen and (min-width: 770px){
  .col-md-9 {
    float: right;
  }
}
