body, html {
  background: #485563;
  background: linear-gradient(to right, #29323c 0%, #485563 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1, h3, h4 {
  color: #fff;
}

img {
  max-width: 100%;
}

form {
  width: 30%;
  margin: 40px auto;
}

.navbar {
  margin-bottom: 0px;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  float: left;
}

.camp-form {
  text-align: center;
  margin-top: 40px;
}

.some-space {
  padding: 10px 30px;
}

.bg-show-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  background-color: #202020;
  height: 90vh;
  text-align: center;
  padding-top: 100px;
}

.jumbotron.landing, .bg-main{
  background-image: url('https://source.unsplash.com/3fJOXw1RbPo');
}

.container {
  height: 100%;
}

.bg-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* position: absolute; */
}

.comments-section {
  color: #fff;
  background-color: #202020;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: left;
}

.thumbnail img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.thumbnail {
  background-color: #202020;
  border-color: #202020;
  color: #fff;
  text-align: center;
  padding: 0;
}

.thumbnail .caption-full{
  padding: 10px;
}

.thumbnail p, h4, .title {
  display: inline;
}

.align-element {
  display: inline;
  margin-left: 5px;
}

.lead {
  color: #fff;
}

.desc {
  margin: 0 20px 20px 10px;
}

.title {
  margin-left: 15px;
}

.bg-primary {
  background-color: #303030;
  border-radius: 5px;
  padding: 10px;
}

.container.not-found {
  width: 100%;
  margin-top: -50px;
  background-image: url('https://source.unsplash.com/waZEHLRP98s');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}

.container.not-found h1 {
  font-size: 13em;
}

.alert-container{
  position: absolute;
  width: 80%;
  margin: 3px 10%;
  text-align: center;
}

@media only screen and (min-width: 770px){
  .col-md-9 {
    float: right;
  }
}
