<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <nav class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
          <a href="/"><i class="code icon"></i>Anything Blog<a>
        </div>
        <div class="right menu">
          <a href="/" class="item">Home</a>
          <a href="/blogs/new" class="item">New Post</a>
        </div>
      </div>
    </nav>
